.summary-box{
    margin-top: 5px;
    position: absolute;
    top: 28%;
    right: 4%;
    width: 300px;
    padding: 15px;
}
.summary-title{
    text-align: center;
    font-size: 2.15rem;
    color: #2874f0;
    margin-bottom: 15px;
}
.item-details{
    font-size: 1.5rem;
    color: gray;
    margin-top: 1rem;
}
.shipping-details{
    font-size: 1.25rem;
    color: gray;
    margin-top: 1rem;
}
.button{
    margin-top: 1rem;
}