
.card {
    margin: 10px 20px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #63636394;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.hiphen {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
}

.tag {
    font-size: 0.8rem;
    margin: 10px 20px;
    padding: 2px 5px;
    border-radius: 5px;
}

.tag-instock {
    background-color: #35ff2ea2;
}

.tag-outstock {
    background-color: #ff1515a2;
}


.second-row {
    display: flex;
    font-size: 0.9rem;
    font-weight: bold;
    color: #5f5f5fb7;
}

.vertical-split {
    margin: 0 10px;
}
.button{
    margin-top: 10px;
}
.product-img{
    width: 22rem;
    height: 11rem;
}
